body{
    background-color: #fff1dab0;
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
}
header{
    background-color: #ffa70e;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
div{
    text-align: center;
}
ul{
    padding: 0;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #ffa70e;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    font-weight: bold;
    padding: 8px 10px 5px 10px;
    text-decoration: none;
    color: #ffa70e;
    background: #fff1da;
    border-bottom: solid 4px #ffa70e;
    border-radius: 15px 15px 0 0;
    transition: .4s;
}
li:hover{
    background: #ffc25c;
    color:#fff;
}